Package: Dương Khắc Vũ
Name: Dương Khắc Vũ
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Dương Khắc Vũ
Maintainer: Dương Khắc Vũ
Author: Dương Khắc Vũ
Section: Tweaks
