Package: com.vanthanhisme.vtios
Name: VTIOS
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: @VTIOS
Author: @VTIOS
Section: Tweaks
